@tailwind base;
@tailwind components;
@tailwind utilities;

#topnav {
  background-image: url('../public/assets/loopstudios/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  #topnav {
    background-image: url('../public/assets/loopstudios/mobile/image-hero.jpg');
    background-position: center;
  }
}

@media (min-width: 976px) {
  .bgHero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute bg-softBlue rounded-l-full top-52;
  }
  .bgTabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-softBlue;
  }
}

@layer utilities {
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    @apply w-[24px] h-[2px] absolute top-0 left-0 transform transition-all rotate-0 duration-200;
  }
  .open-ham {
    @apply transform rotate-90 fixed top-[45px] right-[80px];
  }
  .open-ham .hamburger-middle {
    @apply hidden;
  }
  .open-ham .hamburger-top {
    @apply -rotate-45 translate-y-[13px] bg-white;
  }
  .open-ham .hamburger-bottom {
    @apply rotate-45 bg-white;
  }
  .group-scale {
    @apply group-hover:scale-105 duration-200;
  }
  .image-gradient {
    @apply bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-50;
  }
}
